@charset "utf-8";
/* CSS Document */
:root
{
	--tab-background-color:#F9F9FB;
}
*{ box-sizing: border-box;}
body
{
	background-color: var(--tab-background-color);
 	/*color:var(--color-text-primary);*/
	color:#24292e;
	font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', 'Ubuntu', 'Helvetica Neue', sans-serif;
	font-size: 14px;
	line-height: 1.5;
}
.container
{
	display:flex;
	align-items:center;
	justify-content:center;
}
.content
{
	/*background-color: #f6f8fe;
	border: #ebedef solid 1px;*/
	background-color:#fff;
	border-radius:8px;
	padding:20px;
	width:250px;
	margin-top:25px;
}